<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing a Job</title>
    <link rel="stylesheet" href="/style.css"/>

</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Editing a Job</h1>
        <form action="/jobs/<%= job._id %>?_method=PUT" method="POST">
            <label for="title">Job Title:</label>
        <input type="text" name="title" id="title" required value="<%= job.title %>"/><br><br>

        <label for="description">Job Description:</label>
        <input type="text" name="description" id="description" required value="<%= job.description %>"/><br><br>
            
            <button type="submit">Update the Job</button>
        </form>

</body>

</html>