<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Jobs</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Here's all Jobs available</h1>
    <a href="/jobs/new" class="add-job-btn">Add Job</a>
    <ul>
<div class="jobs-container">

  <% jobs.forEach(job => { %>
    <div class="job-box">
      <h3><%= job.title %></h3>
      <p class="job-owner">Posted by <%= job.owner.username %></p>

      <a href="/jobs/<%= job._id %>" class="job-btn">
        View Job
      </a>
    </div>
  <% }) %>

</div>
</body>

</html>