<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding a new Job</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Adding a new Job</h1>
    <form action="/jobs" method="POST">
        <label for="title">Job Title:</label>
        <input type="text" name="title" id="title" required/><br><br>

        <label for="description">Job Description:</label>
        <input type="text" name="description" id="description" required/><br><br>


        <button type="submit">Add a Job</button>
    </form>

</body>
</html>