<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h2>Add Criminal Record</h2>

<form action="/crimes" method="POST">
  <label>Penguin Name</label>
  <input name="penguinName" required>

  <label>Crime</label>
  <input name="crime" required>

  <label>Danger Level</label>
  <select name="dangerLevel">
    <option>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>

  <label>Punishment</label>
  <input name="punishment">

  <label>Image Path</label>
  <input name="image" placeholder="/images/penguin.png">

  <button >Add</button>
</form>

</body>
</html>